<h1>Team <%= @team.name %></h1>
<h3>Team Motto: <%= @team.motto %></h3>
<hr>
<h3>Members: </h3>
<% @team.members.each do |details| %>
  <hr>
  <p>Hero Name: <%= details.name %></p>
  <p>Hero Power: <%= details.power %></p>
  <p>Hero Biography: <%= details.bio %></p>
<% end %>
