<h1>Team <%= @team.name %></h1>
<h3>Team Motto: <%= @team.motto %></h3>
<hr>
<h3>Members: </h3>
<% @superheroes.each do |members| %>
  <hr>
  <p>Hero Name: <%= members.name %></p>
  <p>Hero Power: <%= members.power %></p>
  <p>Hero Biography: <%= members.bio %></p>
<% end %>
